body {
    background-color: #0099ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 350px;
    border: 5px solid lavenderblush;
    background-color:lavenderblush;
    cursor:pointer;
  }

  .line1 
  {
    position: relative;
    right: 14px; /*this is something I don't understand but apparently is required*/
    top: -160px;
    height: 1px;
    width: 200px;
    background-color: #000;
    transform: rotate(25deg); /*again, this is easy since its a square. In rectangle you'll have to find a tangent*/
    }

    .line2 
  {
    position: relative;
    left: 167px; /*this is something I don't understand but apparently is required*/
    top: -160px;
    height: 1px;
    width: 197px;
    background-color: #000;
    transform: rotate(-25deg); /*again, this is easy since its a square. In rectangle you'll have to find a tangent*/
    }

