body {
    background-color: lightcyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 350px;
    border: 5px solid white;
    background-color:lavenderblush;
    cursor:pointer;
  }

  .line1 
  {
    position: relative;
    right: 15px; /*this is something I don't understand but apparently is required*/
    top: -160px;
    height: 1px;
    width: 200px;
    background-color: #000;
    transform: rotate(25deg); /*again, this is easy since its a square. In rectangle you'll have to find a tangent*/
    }

    .line2 
  {
    position: relative;
    left: 166px; /*this is something I don't understand but apparently is required*/
    top: -161px;
    height: 1px;
    width: 200px;
    background-color: #000;
    transform: rotate(-25deg); /*again, this is easy since its a square. In rectangle you'll have to find a tangent*/
    }

    /* .pic {
      height: 200px;
    width: 350px;
    
    
    } */

    /* .container


    #gallery { height: 100%; width: 100%; position: relative; }

#gallery img {
  /* CSS Hack will make it width 100% and height 100% */


